/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
/vendor2
/vendor.zip
.env
.env.backup
.editorconfig
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/blade.xml
.idea/modules.xml
.idea/sfa_saas.iml
.idea/vcs.xml
.idea/workspace.xml
composer.lock
package-lock.json
/routes/api.php
